{% extends 'base.html' %}

{% block body %}

<h1>All booked Slots</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Vtype</th>
      <th scope="col">Date</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Pincode</th>
      <th scope="col">Status</th>
      <th scope="col">Update Status</th>

    </tr>
  </thead>
  <tbody>
{% for slot in slots  %}
    <tr>
      <td>{{slot.vtype}}</td>
      <td>{{slot.date}}</td>
      <td>{{slot.address}}</td>
      <td>{{slot.city}}</td>
      <td>{{slot.state}}</td>
      <td>{{slot.pincode}}</td>
      <td>{{slot.status}}</td>
       <td><a href="{% url 'adminUpdateStatus' slot.id %}">Update</a></td>

    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock body %}