{% extends 'base.html' %}

{% block body %}

<h1>booked Slot</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Vtype</th>
      <th scope="col">Date</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Pincode</th>
       <th scope="col">Date Booked</th>
        <th scope="col">Status</th>
        <th scope="col">Update</th>

    </tr>
  </thead>
  <tbody>
  {% for s in bs %}
    <tr>
      <td>{{s.slot.vtype}}</td>
      <td>{{s.slot.date}}</td>
      <td>{{s.slot.city}}</td>
      <td>{{s.slot.state}}</td>
      <td>{{s.slot.pincode}}</td>
      <td>{{s.date_booked}}</td>
      <td>{{s.status}}</td>
      <td><a href="{% url 'adminUpdateStatus' s.id %}">Update</a></td>

    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock body %}