{% extends 'base.html' %}
{% block body %}


<div class="row">
<center>

 <div class="card card-body">
 <h2>Filter Data</h2>
            <form method="get">
            {{myPincodeFilter.form}}
            <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </center>
    <div class="col-md-8">
    <center><h5>All Current Slots</h5></center>
        
        <hr>
        <div class="card card-body">
         
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'adminCreateSlot' %}">Create Slot</a>
            <br>
            <table class="table table-sm table-success table-striped">
                <tr>
                
                    <th>Vaccine Type</th>
                    <th>Pincode</th>
                    <th>Date</th>
                    <th>City</th>
                    <th>View</th>
                </tr>
                
                {% for slot in slots %}
                <tr>
                <td>{{slot.vtype}}</td>
                <td>{{slot.pincode}}</td>
                <td>{{slot.date}}</td>
               <td>{{slot.city}}</td>
                <td><a href="{% url 'selectSlot' slot.id %}">View</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-4">
    <center><h5>Top Registered Pincodes</h5></center>
        
        <hr>
        <div class="card card-body">
          
            <div class='row'>
            <div class="col-md-6">
            <table class="table table-sm md-6 table-success table-striped">
            
                <tr>
                    <th><center>Pincode</center></th>
                </tr>
                {% for p in pincd %}
                <tr>
                
                <td><center>{{p}}</center></td>
                </tr>
                {% endfor %}
           
            </table>
            </div>
            <div class="col-md-6">
            <table class="table table-sm md-6 table-success table-striped">
                <tr>
                      <th><center>Count</center></th>
                </tr>
                {% for c in count %}
                <tr>
                <td><center>{{c}}</center></td>
                </tr>
                {% endfor %}
            </table>
             </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}