
{% extends 'base.html' %}

{% block body %}
<center><h1>Create Slots</h1></center>

<div class="container px-1 py-5 mx-auto">
    <div class="row">
        <div class="col-md-6">
        <img src="/media/vbottle.png" style='width:500px' alt="">
        <a href='https://pngtree.com/so/vaccine-bottle'>vaccine bottle png from pngtree.com</a>
        </div>
        <div class="col-md-6 text-center">
           
            <div class="c">
                <form  method="POST"  class="form-card">
                {% csrf_token %}
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Vaccine Type<span class="text-danger"> *</span></label>{{form.vtype}} </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Pincode<span class="text-danger"> *</span></label> {{form.pincode}}  </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">City<span class="text-danger"> *</span></label> {{form.city}} </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">State<span class="text-danger"> *</span></label> {{form.state}} </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Count<span class="text-danger"> *</span></label> {{form.count}} </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Date<span class="text-danger"> *</span></label> {{form.date}} </div>
                    </div>
                     <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Add Map<span class="text-danger"> *</span></label> {{form.addMap}} </div>
                
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3">Address<span class="text-danger"> *</span></label> {{form.address}}  </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">Submit</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}