{% extends 'base.html' %}

{% block body %}
<style>
    .mycontainer {
        background-color:#EAF0F0;
    }
</style>
<div class="mycontainer">
<div class="container">
<div style="padding-top: 50px;" class="row">
    <div class="col-md-6">
       
        <h1 style="font-family: 'Vollkorn', serif;" >Easy Mobile Van Vaccination Slot Booking </h1>
        <a class="btn btn-primary" href="{% url 'viewSlot' %}" style="font-family: 'Vollkorn', serif;" >View Slots</a>

    </div>
   
    <div class="col-md-6">
        <br>
      
           
        <img src="media/vacci.png" style="width: 400px;" alt="">
      
    </div>
</div>
<br><br>
<div style="background-color: #EAF0F0;border-radius: 10px;border-color: #EAF0F0;" class="card">
    <center><h1 style="font-family: 'Vollkorn', serif;" >Why VacciFast?</h1></center>
    <p style="font-family: 'EB Garamond', serif;" >Entire World has come to a stand still with this ongoing COVID-19 pandemic. All necessary measures are being taken by
    the Government Of India in order to curb the widespread. And at present its every citizen's responsibility to follow
    Government guidelines get immunized at the earliest.</p>
    
    <p style="font-family: 'EB Garamond', serif;"> At present only 18% of India's population is fully immunized. In order to fasten this process here'd presnting "Mobile Vaccination Drive"</p>
    <p style="font-family: 'EB Garamond', serif;" >
     <i style="font-family: 'EB Garamond', serif;">Mobile Vaccination Drive would help in targeting:</i>
     <ul style="font-family: 'EB Garamond', serif;">
    <li>Smaller areas based on the pin codes & rural areas</li>
    <li>Smaller the target leading to better efficiency</li>
<li>Door step vaccination, no hustle</li>
    <li>Systematic approach</li> 
    <li>Dashboard published as per pin code , at a glance overview of the particular region</li>

</ul>
</p>
</div>
</div>
<center><img src="media/office.png" style="width:400px;" alt=""></center>

</div>
<br>
<div style="font-family: 'Vollkorn', serif;" class="container">
<center><h1 >Steps to be Followed</h1></center>

<div class="card justify-content-start" style="border-radius: 25px;border-color: blue;" ><br><center><h5>Register Yourself and Login to the Portal. <a class="btn btn-primary" href="{% url 'register' %}">Register Now!</a> </h5></center><br></div><br>

<div class="card" style="border-radius: 25px;border-color: red;"><br>
    <center><h5>Create your Profile.</h5></center><br>
</div><br>

<div class="card" style="border-radius: 25px;border-color: black"><br>
    <center><h5>View slots available for your pincode.</h5></center><br>
</div><br>

<div class="card" style="border-radius: 25px;border-color: yellow"><br>
    <center><h5>Select slot for vaccination, view the map for exact address.</h5></center><br>
</div><br>

<div class="card" style="border-radius: 25px;border-color: rgb(0, 255, 200);"><br>
    <center><h5>After booking a slot, wait for slot to be confirmed. You would be updated via email.</h5></center><br>
</div><br>

<div class="card" style="border-radius: 25px;border-color: rgb(162, 0, 255);"><br>
    <center><h5>On the Date of Vaccination visit the Van and can get your dose!</h5></center><br>
</div><br>



</div>




{% endblock body %}