

{% extends 'base.html' %}

{% block body %}

<form method="POST" action="">
{% csrf_token %}
<input type="text" name="username" placeholder="Username..." class="form-control">
<input type="password" name="password" placeholder="Password..." class="form-control" >
<input class="btn btn-primary " type="submit" value="Login">

</form>
{{form.errors}}
<div class="d-flex justify-content-center links">
Don't have an account? 
<a href="{% url 'register' %}" class="ml-2">Sign Up</a>
</div>

{% endblock %}