
{% extends 'base.html' %}

{% block body %}
<style>
.mycontainer{
    padding-left: 60px;
}
</style>
<center>
    <h1 style="font-family: 'Vollkorn', serif;">Register Now!</h1>
</center>

<div class="mycontainer">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="border-color: blue;border-radius: 10px;">
                <br>
                <form method="POST" class="form-group" style="padding-left: 10px;">
                    {% if messages %}
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{error}}
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
                <div class="d-flex justify-content-start links" style="padding-bottom: 10px;padding-left: 10px;">
                    Already have an account?
                    <a href="{% url 'login' %}" class="ml-2">Login</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/media/register.png" style='width:500px' alt="">
        </div>
    </div>
</div>
 
{% endblock %}